.container {
    margin-right: auto;
    margin-left: auto;
    // padding-right: 15px;
    // padding-left: 15px;
    max-width: 100%;
    position: relative;
}
.heading {
    font-family: $oswald;
    position: relative;

    &__sketch {
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #D1D1D1;
    }

    &--large {
        font-size: 102px;
        font-weight: 700;
        line-height: 116px;
    }

    &--medium {
        font-size: 74px;
        font-weight: 600;
        line-height: 85px;
    }
}
@media screen and (min-width: $laptop-lg) {
    .container {
        width: 1170px;
    }
}

@media screen and (max-width: $laptop-lg) {
    .container {
        width: 1070px;
    }
}

@media screen and (max-width: $laptop-sm) {
    .container {
        width: 970px;
    }
}

@media screen and (max-width: $tablet) {
    .container {
        width: 750px;
    }
    .heading {
        &--large {
                font-size: 75px;
                line-height: 81px;
        }
    }
}

@media screen and (max-width: $mobile) {
    .container {
        margin-right: auto;
        margin-left: auto;
        padding-right: 25px;
        padding-left: 25px;
        width: 100%;
        max-width: 100%;
        position: relative;
    }
    .heading {
        &--large {
            font-size: 65px;
            line-height: 71px;
            overflow-wrap: break-word;
        }
    }
}
// @media (min-width: 768px) {
//     // .container {
//     //     width: 750px;
//     // }
// }

// @media (min-width: 992px) {
    
// }

// @media (min-width: 1300px) {
//     .container {
//         width: 1070px;
//     }
// }

// @media (min-width: 1600px) {
//     .container {
//         width: 1170px;
//     }
// }

// @media (min-width: 1300px) {
//     .container {
//         width: 1270px;
//     }
// }

// @media (min-width: 1400px) {
//     .container {
//         width: 1370px;
//     }
// }

// @media (min-width: 1500px) {
//     .container {
//         width: 1470px;
//     }
// }

// @media (min-width: 1600px) {
//     .container {
//         width: 1570px;
//     }
// }

// @media (min-width: 1700px) {
//     .container {
//         width: 1670px;
//     }
// }

// @media (min-width: 1800px) {
//     .container {
//         width: 1770px;
//     }
// }



body {
    font-family: $montserrat;
}

strong {
    font-weight: 700;
}