.blog-post {
    .blog-post {
        &__banner {
            .banner {
                &__content {
                    margin-top: 150px;
                }

                &__top {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 26px;
                }

                &__date {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 21px;
                }

                &__ribbon {
                    background-color: #004fac;
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 21px;
                    padding: 8px 50px;
                }

                &__heading {
                    color: #000000;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 32px;
                    margin-bottom: 90px;
                }

                &__tags {
                    background-color: #000000;
                    padding: 16px 20px;
                    width: 50%;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;

                    .tag {
                        color: #fff;
                        margin: 10px;
                        display: block;
                    }
                }

                &__line1,
                &__line2,
                &__line3 {
                    position: absolute;
                    width: 1px;
                    background-color: #e8e8e8;
                    top: -500px;
                    z-index: -1;
                    height: 4670px;
                }

                &__line1 {
                    left: 0;
                }

                &__line2 {
                    right: 0;
                }

                &__line3 {
                    left: 50%;
                    transform: translateX(-50%);
                }

            }
        }
         &__content {
             .content {
                 &__wrapper {
                     max-width: 668px;
                     margin: auto;
                 }

                 &__description {
                     color: #000000;
                     font-size: 14px;
                     font-weight: 400;
                     line-height: 24px;
                     width: 100%;
                     margin-top: 78px;
                     margin-bottom: 80px;

                     .description {
                         &__wrapper {
                             margin-left: 96px;

                         }
                     }
                 }
                 &__main {
                     p {
                         margin: 15px 0;
                         color: #000000;
                         font-size: 14px;
                         font-weight: 500;
                         line-height: 20px;
                         font-weight: 400;
                     }
                     h2 {
                         color: #000000;
                         font-family: Montserrat;
                         font-size: 20px;
                         font-weight: 700;
                         margin-top: 40px;
                         margin-bottom: 30px;
                     }
                 }
                 &__bottom {
                     width: 100%;
                     max-width: 672px;
                     margin: auto;
                     display: flex;
                     justify-content: flex-end;
                     margin-top: 50px;
                 }
     
                 &__author {
                     color: #000000;
                     font-size: 14px;
                     font-weight: 700;
                     position: relative;
     
                     &::before {
                         content: '';
                         position: absolute;
                         top: -15px;
                         right: 0;
                         display: block;
                         width: 39px;
                         height: 4px;
                         background-color: #000;
     
                     }
                 }
                }
            }
    }
    .next-post {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 115px;

        .next-post {
            &__article {
                display: flex;
                justify-content: flex-start;

                .article {

                    &__content {
                        width: 483px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }

                    &__date {
                        color: #000000;
                        font-size: 14px;
                        font-weight: 600;
                        padding-bottom: 18px;
                        border-bottom: 1px solid #e8e8e8;
                        width: 100%;
                        margin-top: 27px;
                    }

                    &__heading {
                        color: #000000;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 32px;
                        margin-top: 20px;
                    }

                    &__description {
                        margin-top: 15px;
                        color: #000000;
                        font-family: Arial;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                    }

                    &__bottom {
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        margin-top: 18px;
                    }

                    &__read-more {
                        color: #000000;
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing: 0.63px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    .blog-post {
        .next-post {
            flex-direction: column;
            align-items: flex-start;

            .next-post {
                &__article {
                    .article {
                        &__content {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    .blog-post {
        .blog-post {
            &__banner {
                .banner {
                    &__tags {
                        width: 100%;
                    }
                }
            }
        }
        
    }
}