.team {
    .team {
        &__decorator {
            &--1 {
                box-shadow: -3px 24px 55px rgba(0, 0, 0, 0.24);
                position: absolute;
                left: -90px;
                top: -46px;
            }
        }

        &__banner {
            .banner {

                &__line1,
                &__line2,
                &__line3 {
                    position: absolute;
                    width: 1px;
                    height: 800px;
                    background-color: #e8e8e8;
                    top: -200px;
                    z-index: -1;
                    height: 4670px;
                }

                &__line1 {
                    left: 0;
                }

                &__line2 {
                    right: 0;
                }

                &__line3 {
                    left: 50%;
                    transform: translateX(-50%);
                }

                &__wrapper {
                    max-width: 960px;
                    margin: auto;
                    position: relative;
                }

                &__content {
                    padding-top: 70px;
                    padding-left: 285px;
                }

                &__bottom {
                    width: 100%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: end;
                    -ms-flex-pack: end;
                    justify-content: flex-end;
                    margin-top: 65px;
                    position: relative;
                }

                &__description {
                    text-align: right;
                    color: #000000;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 27px;
                }
            }
        }

        &__people {
            margin-top: 190px;

            .people {}

            .person {
                &__decorator {
                    &--1 {
                        width: 83px;
                        height: 249px;
                        box-shadow: 0 16px 46px rgba(62, 62, 62, 0.37);
                        background-color: #ffffff;
                    }
                }

                &__top {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    text-align: right;

                    &__wrapper {
                        display: flex;
                        align-items: center;
                    }
                }

                &__img {
                    width: 300px;
                }

                &__name {
                    font-size: 42px;
                    font-weight: 700;
                    line-height: 56px;
                }

                &__positions {
                    margin-top: 40px;
                    font-size: 14px;
                    font-weight: 300;

                    p {
                        margin: 7px 0;
                    }
                }

                &__social {
                    margin-top: 40px;

                    .social {
                        &__heading {
                            font-size: 12px;
                            font-weight: 700;
                            letter-spacing: 3.6px;
                            line-height: 18px;
                        }

                        &__icons {
                            margin-top: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                        }

                        &__icon {
                            display: block;
                            height: 20px;
                            margin: 0 10px;
                        }
                    }
                }

                &__about {
                    margin-left: 83px;
                    margin-top: 70px;
                    max-width: 830px;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 27px;
                }

                &__bottom {
                    margin-top: 70px;
                    display: flex;
                    justify-content: flex-end;
                    margin-right: 80px;

                }

                &__show-timeline {
                    color: #838383;
                    font-size: 12px;
                    font-weight: 700;
                    letter-spacing: 3.6px;
                    line-height: 18px;
                    position: relative;
                    cursor: pointer;

                    .show-timeline {
                        &__decorator {
                            &--1 {
                                position: absolute;
                                left: 71px;
                                top: 20px;
                                transform: translate(-100%, -50%);
                            }
                        }
                    }
                }

                &__timeline {
                    padding-top: 150px;
                    display: none;

                    .close__wrapper {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        margin-top: 150px;

                        .close-timeline {
                            width: 48px;
                            height: 48px;
                            border: 1px solid #e8e8e8;
                            background-color: #ffffff;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            transition: all .3s ease-in-out;

                            &:hover {
                                border: 1px solid #004fac;
                                box-shadow: 5px 5px 43px rgba(0, 0, 0, 0.2);
                            }
                        }
                    }

                    .timeline {
                        &__item {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            text-align: right;
                            justify-content: flex-end;
                            margin-top: 60px;


                            .item {
                                &__decorator {
                                    width: 48px;
                                    height: 48px;
                                    border: 1px solid #e8e8e8;
                                    transform: translateX(-50%);
                                    background-color: #ffffff;
                                    display: flex;
                                    align-items: center;
                                    position: relative;
                                    transition: all .3s ease-in-out;

                                    &::before {
                                        content: '';
                                        position: absolute;
                                        width: 32px;
                                        height: 32px;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        box-shadow: transparent;
                                        background-color: #ffffff;
                                        transition: all .3s ease-in-out;
                                    }

                                    &::after {
                                        content: '';
                                        width: 70px;
                                        height: 1px;
                                        background-color: #e8e8e8;
                                        display: block;
                                        transform: translateX(100%);
                                        transition: all .3s ease-in-out;
                                    }
                                }

                                &__wrapper {
                                    width: 50%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                }

                                &__description {
                                    padding-left: 25px;
                                    padding-right: 0;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 32px;

                                    p {
                                        margin: 7px 0;
                                    }
                                }
                            }

                            &:nth-child(even) {
                                text-align: left;
                                justify-content: flex-start;

                                .item {
                                    &__decorator {
                                        order: 2;
                                        transform: translateX(50%);

                                        &::after {
                                            content: '';
                                            width: 70px;
                                            height: 1px;
                                            background-color: #e8e8e8;
                                            transform: translateX(-100%);
                                        }
                                    }

                                    &__description {
                                        padding-right: 25px;
                                        padding-left: 0;
                                    }
                                }
                            }

                            &:hover {
                                .item {
                                    &__decorator {
                                        border: 1px solid #004fac;

                                        &::after {
                                            background-color: #004fac;
                                        }

                                        &::before {
                                            box-shadow: 5px 5px 43px rgba(0, 0, 0, 0.2);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }

        &__person {
            margin-top: 100px;

            &:nth-child(even) {
                .person {
                    &__top {
                        text-align: left;

                        &__wrapper {
                            order: 2;
                        }
                    }

                    &__social {
                        .social {
                            &__icons {
                                justify-content: flex-start;
                            }
                        }
                    }

                    &__about {
                        text-align: right;
                    }

                    &__bottom {
                        justify-content: flex-start;
                        padding-left: 140px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    .team {
        .team {
            &__banner {
                .banner {
                    &__content {
                        padding-left: 130px;
                    }
                }
            }
            &__people {
                .person {
                    &__decorator {
                        &--1 {
                            width: 74px;
                        }
                    }
                    &__top {
                        
                    }
                    &__info {
                        width: 50%;
                        padding-left: 20px;
                    }
                    &__name {
                        font-size: 39px;
                        line-height: 49px;
                    }
                }
            }
            &__person {
                &:nth-child(even) {
                    .person {
                        &__info {
                            padding-left: 0;
                            padding-right: 20px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: $mobile) {
    .team {
        .team {
            &__people {
                .person {
                    &__decorator {
                        &--1 {
                            width: 58px;
                            height: 210px;
                        }
                    }
                    &__name {
                        font-size: 35px;
                        line-height: 45px;
                        overflow-wrap: break-word;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: $mobile-sm) {
    .team {
        .team {
            &__decorator {
                &--1 {
                    display: none;
                }
            }
            &__banner {
                .banner {
                    &__content {
                        padding-left: 0px;
                    }
                    &__bottom {
                        margin-top: 40px;
                    }
                    &__description {
                        max-width: 500px;
                    }
                }
            }
            &__person {
                &:nth-child(even) {
                    .person {
                        &__top {
                            &__wrapper {
                                order: initial;
                            }
                        }
                        &__bottom {
                            justify-content: flex-end;
                            padding-left: 0;
                        }
                        &__info {
                            padding-right: 0;
                        }
                    }
                }
            }
            &__people {
                .person {
                    &__decorator {
                        &--1,
                        &--2 {
                            display: none;
                        }
                    }
                    &__info {
                        margin-top: 20px;
                        padding-right: 0;
                        padding-left: 0;
                        width: auto;
                    }
                    &__top {
                        flex-direction: column;
                    }
                    &__about {
                        margin-top: 20px;
                        margin-left: 0;
                    }
                    &__bottom {
                        margin-right: 0;
                    }
                    &__timeline {
                        .timeline {
                            &__item {
                                .item {
                                    &__description {
                                        padding-left: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}